
<div *ngIf="comentarAlbum">
    <h2><span jhiTranslate="rocktionaryApp.comentarAlbum.detail.title">Comentar Album</span> {{comentarAlbum.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rocktionaryApp.comentarAlbum.comentario">Comentario</span></dt>
        <dd>
            <span>{{comentarAlbum.comentario}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.comentarAlbum.fechaComentario">Fecha Comentario</span></dt>
        <dd>
            <span>{{comentarAlbum.fechaComentario | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.comentarAlbum.albumName">Album Name</span></dt>
        <dd>
            <span>{{comentarAlbum.albumName}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.comentarAlbum.user">User</span></dt>
        <dd>
            {{comentarAlbum.user?.login}}
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.comentarAlbum.album">Album</span></dt>
        <dd>
            <div *ngIf="comentarAlbum.album">
                <a [routerLink]="['/album', comentarAlbum.album?.id]">{{comentarAlbum.album?.nombre}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comentar-album/'+ comentarAlbum.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
