<div>
    <h2>
        <span jhiTranslate="rocktionaryApp.comentarAlbum.home.title">Comentar Albums</span>
        <button class="btn btn-primary float-right jh-create-entity create-comentar-album" [routerLink]="['/', { outlets: { popup: ['comentar-album-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rocktionaryApp.comentarAlbum.home.createLabel">
            Create new Comentar Album
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comentarAlbums">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rocktionaryApp.comentarAlbum.comentario">Comentario</span></th>
            <th><span jhiTranslate="rocktionaryApp.comentarAlbum.fechaComentario">Fecha Comentario</span></th>
            <th><span jhiTranslate="rocktionaryApp.comentarAlbum.albumName">Album Name</span></th>
            <th><span jhiTranslate="rocktionaryApp.comentarAlbum.user">User</span></th>
            <th><span jhiTranslate="rocktionaryApp.comentarAlbum.album">Album</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comentarAlbum of comentarAlbums ;trackBy: trackId">
                <td><a [routerLink]="['../comentar-album', comentarAlbum.id ]">{{comentarAlbum.id}}</a></td>
                <td>{{comentarAlbum.comentario}}</td>
                <td>{{comentarAlbum.fechaComentario | date:'medium'}}</td>
                <td>{{comentarAlbum.albumName}}</td>
                <td>
                    {{comentarAlbum.user?.login}}
                </td>
                <td>
                    <div *ngIf="comentarAlbum.album">
                        <a [routerLink]="['../album', comentarAlbum.album?.id ]" >{{comentarAlbum.album?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comentar-album', comentarAlbum.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comentar-album/'+ comentarAlbum.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comentar-album/'+ comentarAlbum.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
