<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myComponenteLabel" jhiTranslate="rocktionaryApp.componente.home.createOrEditLabel">Create or edit a Componente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!componente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="componente.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rocktionaryApp.componente.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="componente.nombre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rocktionaryApp.componente.edad" for="field_edad">Edad</label>
            <input type="number" class="form-control" name="edad" id="field_edad"
                [(ngModel)]="componente.edad" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rocktionaryApp.componente.sexo" for="field_sexo">Sexo</label>
            <input type="text" class="form-control" name="sexo" id="field_sexo"
                [(ngModel)]="componente.sexo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rocktionaryApp.componente.funcionGrupo" for="field_funcionGrupo">Funcion Grupo</label>
            <input type="text" class="form-control" name="funcionGrupo" id="field_funcionGrupo"
                [(ngModel)]="componente.funcionGrupo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rocktionaryApp.componente.foto" for="field_foto">Foto</label>
            <div>
                <img [src]="'data:' + componente.fotoContentType + ';base64,' + componente.foto" style="max-height: 100px;" *ngIf="componente.foto" alt="componente image"/>
                <div *ngIf="componente.foto" class="form-text text-danger clearfix">
                    <span class="pull-left">{{componente.fotoContentType}}, {{byteSize(componente.foto)}}</span>
                    <button type="button" (click)="clearInputImage('foto', 'fotoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_foto" (change)="setFileData($event, componente, 'foto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="foto" id="field_foto"
                [(ngModel)]="componente.foto" />
            <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                [(ngModel)]="componente.fotoContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rocktionaryApp.componente.fechaEntrada" for="field_fechaEntrada">Fecha Entrada</label>
            <div class="input-group">
                <input id="field_fechaEntrada" type="text" class="form-control" name="fechaEntrada" ngbDatepicker  #fechaEntradaDp="ngbDatepicker" [(ngModel)]="componente.fechaEntrada"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaEntradaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rocktionaryApp.componente.fechaSalida" for="field_fechaSalida">Fecha Salida</label>
            <div class="input-group">
                <input id="field_fechaSalida" type="text" class="form-control" name="fechaSalida" ngbDatepicker  #fechaSalidaDp="ngbDatepicker" [(ngModel)]="componente.fechaSalida"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaSalidaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rocktionaryApp.componente.banda" for="field_banda">Banda</label>
            <select class="form-control" id="field_banda" name="banda" [(ngModel)]="componente.banda" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bandaOption.id === componente.banda?.id ? componente.banda : bandaOption" *ngFor="let bandaOption of bandas; trackBy: trackBandaById">{{bandaOption.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
