<div class="footer">
   <div class="row __footer">
       <div class="logo_stucom col-md-3">
           <span jhiTranslate="footer.soporte"></span>
           <a href="https://www.rockfestbarcelona.com/" target="_blank"><img src="../../../content/images/logo/Rock-Fest-Barcelona-1.png" alt=""></a>
       </div>

       <div class="col-md-6 footer_links">

       </div>

       <div class="col-md-3 socials">
           <span class="text-white" jhiTranslate="footer.siguenos"></span>
           <a href="https://www.facebook.com" target="_blank"><img src="../../../content/images/logo/facebook_logoyellow.png" alt=""></a>
           <a href="https://instagram.com" target="_blank"><img src="../../../content/images/logo/instagram_logoyellow.png" alt=""></a>
           <a href="https://plus.google.com" target="_blank"><img src="../../../content/images/logo/googleplus_logoyellow.png" alt=""></a>
           <a href="https://twitter.com" target="_blank"><img src="../../../content/images/logo/twitter_logoyellow.png" alt=""></a>
           <a href="https://spotify.com" target="_blank"><img src="../../../content/images/logo/spotify_logoyellow.png" alt=""></a>
           <a href="https://youtube.com" target="_blank"><img src="../../../content/images/logo/youtube_logoyellow.png" alt=""></a>
       </div>
   </div>
    <span class="copy_right">RockTionary © 2018 DAW2 STUCOM</span>
</div>
