<div>
    <h2>
        <span jhiTranslate="rocktionaryApp.cancion.home.title">Cancions</span>
        <button class="btn btn-primary float-right jh-create-entity create-cancion" [routerLink]="['/', { outlets: { popup: ['cancion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rocktionaryApp.cancion.home.createLabel">
            Create new Cancion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cancions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rocktionaryApp.cancion.nombre">Nombre</span></th>
            <th><span jhiTranslate="rocktionaryApp.cancion.duracion">Duracion</span></th>
            <th><span jhiTranslate="rocktionaryApp.cancion.letra">Letra</span></th>
            <th><span jhiTranslate="rocktionaryApp.cancion.album">Album</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cancion of cancions ;trackBy: trackId">
                <td><a [routerLink]="['../cancion', cancion.id ]">{{cancion.id}}</a></td>
                <td>{{cancion.nombre}}</td>
                <td>{{cancion.duracion}}</td>
                <td>{{cancion.letra}}</td>
                <td>
                    <div *ngIf="cancion.album">
                        <a [routerLink]="['../album', cancion.album?.id ]" >{{cancion.album?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cancion', cancion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cancion/'+ cancion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cancion/'+ cancion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
