
<div *ngIf="userFollowingUser">
    <h2><span jhiTranslate="rocktionaryApp.userFollowingUser.detail.title">User Following User</span> {{userFollowingUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rocktionaryApp.userFollowingUser.since">Since</span></dt>
        <dd>
            <span>{{userFollowingUser.since | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.userFollowingUser.usuarioOrigen">Usuario Origen</span></dt>
        <dd>
            {{userFollowingUser.usuarioOrigen?.login}}
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.userFollowingUser.usuarioDestino">Usuario Destino</span></dt>
        <dd>
            {{userFollowingUser.usuarioDestino?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-following-user/'+ userFollowingUser.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
