
<div *ngIf="comentarBanda">
    <h2><span jhiTranslate="rocktionaryApp.comentarBanda.detail.title">Comentar Banda</span> {{comentarBanda.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rocktionaryApp.comentarBanda.comentario">Comentario</span></dt>
        <dd>
            <span>{{comentarBanda.comentario}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.comentarBanda.fechaComentario">Fecha Comentario</span></dt>
        <dd>
            <span>{{comentarBanda.fechaComentario | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.comentarBanda.bandaName">Banda Name</span></dt>
        <dd>
            <span>{{comentarBanda.bandaName}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.comentarBanda.user">User</span></dt>
        <dd>
            {{comentarBanda.user?.login}}
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.comentarBanda.banda">Banda</span></dt>
        <dd>
            <div *ngIf="comentarBanda.banda">
                <a [routerLink]="['/banda', comentarBanda.banda?.id]">{{comentarBanda.banda?.nombre}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comentar-banda/'+ comentarBanda.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
