
.login-main{
    background-size: 304%;
    background-position: 26%;
    background: #1c1c1c;
    color: white;
}
.modal-header h4{
    text-align: center;
    text-shadow: -1px -1px 1px #e8e6de, 1px 1px 1px #b4b3b7, -1px 1px 1px #b4b3b7, 1px -1px #e8ac02;
    font-size: 1.7em;
    font-weight: 400;
}

form{
    text-align: center;
}

