
<div *ngIf="puntuacionBanda">
    <h2><span jhiTranslate="rocktionaryApp.puntuacionBanda.detail.title">Puntuacion Banda</span> {{puntuacionBanda.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rocktionaryApp.puntuacionBanda.valoracion">Valoracion</span></dt>
        <dd>
            <span>{{puntuacionBanda.valoracion}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.puntuacionBanda.fechaPuntuacion">Fecha Puntuacion</span></dt>
        <dd>
            <span>{{puntuacionBanda.fechaPuntuacion | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.puntuacionBanda.banda_name">Banda Name</span></dt>
        <dd>
            <span>{{puntuacionBanda.banda_name}}</span>
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.puntuacionBanda.user">User</span></dt>
        <dd>
            {{puntuacionBanda.user?.login}}
        </dd>
        <dt><span jhiTranslate="rocktionaryApp.puntuacionBanda.banda">Banda</span></dt>
        <dd>
            <div *ngIf="puntuacionBanda.banda">
                <a [routerLink]="['/banda', puntuacionBanda.banda?.id]">{{puntuacionBanda.banda?.nombre}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'puntuacion-banda/'+ puntuacionBanda.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
